<a href="https://colab.research.google.com/github/SJeevitha007/Data_Analysis_Task/blob/main/Data_Analytics_Task_GUVI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel('/content/drive/My Drive/Data_Analyst_Task.xls')
df.shape

(9514, 11)

In [ ]:
df.isnull().sum()

User ID                       0
Product Code                  0
Payment Status                0
Coupon code                8852
Lead Registered Time          0
Sales Date                    0
Source                        0
Product Amount with GST       1
Payment Mode               7784
Currency  Code                0
Transaction Bank           9422
dtype: int64

In [ ]:
df = df.dropna(subset=["Product Amount with GST"])

In [ ]:
df.shape

(9513, 11)

In [ ]:
df.dtypes

User ID                            object
Product Code                       object
Payment Status                     object
Coupon code                        object
Lead Registered Time       datetime64[ns]
Sales Date                 datetime64[ns]
Source                             object
Product Amount with GST           float64
Payment Mode                       object
Currency  Code                     object
Transaction Bank                   object
dtype: object

In [ ]:
df.sort_values(by='Lead Registered Time', ascending=False, inplace=True)
df.drop_duplicates(subset=['User ID', 'Product Code', 'Payment Status'], keep='first', inplace=True)
df.reset_index(drop=True, inplace=True)

In [ ]:
df

,User ID,Product Code,Payment Status,Coupon code,Lead Registered Time,Sales Date,Source,Product Amount with GST,Payment Mode,Currency Code,Transaction Bank
0,user1,Product1,Initiated,NaN,2022-08-01 04:55:00,2022-07-31,Direct,3999.0,NaN,INR,NaN
1,user28,Product1,Initiated,NaN,2022-08-01 04:46:00,2022-07-31,Direct,3999.0,NaN,INR,NaN
2,user2,Product2,Initiated,NaN,2022-08-01 04:46:00,2022-07-31,Direct,999.0,NaN,INR,NaN
3,user4,Product3,Initiated,NaN,2022-08-01 03:21:00,2022-07-31,Direct,1999.0,NaN,INR,NaN
4,user13,Product2,Initiated,NaN,2022-08-01 02:28:00,2022-07-31,Direct,999.0,NaN,INR,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7148,user10655,Product4,paid,NaN,2022-06-01 12:37:00,2022-06-01,Direct,2022.0,upi,INR,NaN
7149,user10651,Product22,paid,NaN,2022-06-01 12:04:00,2022-06-01,Direct,1499.0,upi,INR,NaN
7150,user10652,Product4,paid,NaN,2022-06-01 10:24:00,2022-06-01,Direct,2022.0,card,INR,NaN
7151,user10657,Product2,paid,NaN,2022-06-01 07:20:00,2022-06-01,Direct,999.0,paylater,INR,NaN
7152,user10658,Product10,refund,NaN,2022-05-28 06:21:00,2022-06-21,Direct,999.0,paylater,INR,NaN

In [ ]:
df["User ID"].nunique()

5884

In [ ]:
df["Product Code"].nunique()

141

In [ ]:
duplicates = df.duplicated(subset=['User ID', 'Product Code'], keep=False)
df[duplicates]

,User ID,Product Code,Payment Status,Coupon code,Lead Registered Time,Sales Date,Source,Product Amount with GST,Payment Mode,Currency Code,Transaction Bank
48,user98,Product3,paid,NaN,2022-07-31 18:24:00,2022-07-31,Direct,1999.0,paylater,INR,NaN
51,user98,Product3,Initiated,NaN,2022-07-31 18:17:00,2022-07-31,Direct,1999.0,NaN,INR,NaN
57,user105,Product2,Initiated,NaN,2022-07-31 16:51:00,2022-07-31,Direct,999.0,NaN,INR,NaN
60,user105,Product2,paid,NaN,2022-07-31 16:40:00,2022-07-31,Direct,999.0,upi,INR,NaN
68,user115,Product2,paid,NaN,2022-07-31 15:04:00,2022-07-31,Direct,999.0,upi,INR,NaN
...,...,...,...,...,...,...,...,...,...,...,...
6943,user10425,Product57,paid,NaN,2022-06-12 21:24:00,2022-06-12,Direct,9.0,upi,INR,NaN
6944,user10425,Product57,Initiated,NaN,2022-06-12 21:18:00,2022-06-12,Direct,9.0,NaN,INR,NaN
6945,user864,Product88,refund,NaN,2022-06-12 21:13:00,2022-06-12,Direct,99.0,netbanking,INR,HDFC
6946,user864,Product88,paid,Coupon93,2022-06-12 20:52:00,2022-06-12,Direct,51.0,netbanking,INR,HDFC
6947,user864,Product88,Initiated,NaN,2022-06-12 20:51:00,2022-06-12,Direct,99.0,NaN,INR,NaN

In [71]:
df.drop_duplicates(subset=['User ID', 'Product Code'], keep='first', inplace=True)
def replace_initiated_with_paid(row):
    if row['Payment Status'] == 'Initiated':
        prior_rows = df[
            (df['User ID'] == row['User ID']) &
            (df['Product Code'] == row['Product Code']) &
            (df['Lead Registered Time'] < row['Lead Registered Time'])
        ]
        for _, prior_row in prior_rows.iterrows():
            if prior_row['Payment Status'] == 'Paid':
                return 'Paid'
    return row['Payment Status']
df['Payment Status'] = df.apply(replace_initiated_with_paid, axis=1)
df.reset_index(drop=True, inplace=True)

In [72]:
df.shape

(6570, 11)

In [73]:
df

,User ID,Product Code,Payment Status,Coupon code,Lead Registered Time,Sales Date,Source,Product Amount with GST,Payment Mode,Currency Code,Transaction Bank
0,user1,Product1,Initiated,NaN,2022-08-01 04:55:00,2022-07-31,Direct,3999.0,NaN,INR,NaN
1,user28,Product1,Initiated,NaN,2022-08-01 04:46:00,2022-07-31,Direct,3999.0,NaN,INR,NaN
2,user2,Product2,Initiated,NaN,2022-08-01 04:46:00,2022-07-31,Direct,999.0,NaN,INR,NaN
3,user4,Product3,Initiated,NaN,2022-08-01 03:21:00,2022-07-31,Direct,1999.0,NaN,INR,NaN
4,user13,Product2,Initiated,NaN,2022-08-01 02:28:00,2022-07-31,Direct,999.0,NaN,INR,NaN
...,...,...,...,...,...,...,...,...,...,...,...
6565,user10655,Product4,paid,NaN,2022-06-01 12:37:00,2022-06-01,Direct,2022.0,upi,INR,NaN
6566,user10651,Product22,paid,NaN,2022-06-01 12:04:00,2022-06-01,Direct,1499.0,upi,INR,NaN
6567,user10652,Product4,paid,NaN,2022-06-01 10:24:00,2022-06-01,Direct,2022.0,card,INR,NaN
6568,user10657,Product2,paid,NaN,2022-06-01 07:20:00,2022-06-01,Direct,999.0,paylater,INR,NaN
6569,user10658,Product10,refund,NaN,2022-05-28 06:21:00,2022-06-21,Direct,999.0,paylater,INR,NaN

In [74]:
df.to_csv("Data_Analysis_task.csv",index=False)